<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012827309373-gq4a66btl0oar3s6kjbks2bdmlktp5s0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012827309373-gq4a66btl0oar3s6kjbks2bdmlktp5s0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1012827309373-20cuq7id9fcl638aqu0bq8omkq8jdigc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2JaVYTD7NR14LFegyT2JTxaJ7qQS5ARQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1012827309373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TrafficTitan.TrafficHero.trafficHero</string>
	<key>PROJECT_ID</key>
	<string>traffichero-frontend-app-sso</string>
	<key>STORAGE_BUCKET</key>
	<string>traffichero-frontend-app-sso.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012827309373:ios:6913ce8dfe94e09c737154</string>
</dict>
</plist>